{% load bibl_tags %}

<div class="bibl-table">
  <div class="bibl-table-header">
    {% if create_action %}
    <a href="{{create_action.redirect}}">
      <button type="button" class="btn btn-success">
        {{ create_action.label }}
      </button>
    </a>
    {% endif %}
    
    {% comment %} {% if table_config.form %}
      <form action="" method="get" class="d-flex">
        {{ table_config.form.q }}
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    {% endif %} {% endcomment %}
  </div>
  <div class="bibl-table-body" style="margin-top: 25px;">
    <table>
    <thead>
      <tr>
        {% for col in fields %}
          <th scope="col">{{ col.label }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for data in object_list %}
        <tr>
          {% comment %} Contenido {% endcomment %}
          {% for col in fields %}
            {% if col.is_link %}
              <td><a href="{{ data|get_value_from_dict:col.key }}"> Ir a sitio </a></td>
            {% endif %}
            
            {% if not col.is_link %}
              <td> {{ data|get_value_from_dict:col.key }} </td>
            {% endif %}
          {% endfor %}
          
          {% comment %} Actions {% endcomment %}
          {% if update_action %}
            <td>
            <a href="{{update_action.redirect}}/{{ data.id }}">
            <button type="button" class="btn btn-secondary">Editar</button>
            </td>
          {% endif %}
          {% if delete_action %}
            <td>
              <form action="{{delete_action.redirect}}" method="post">
                {% csrf_token %}
                <input type="hidden" name="dlt_id" value="{{ data.id }}">
                <button type="submit" class="btn btn-danger">Borrar</button>
            </form>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>