{% extends 'shared/base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <h1>{{ title }} </h1>


    <form action="" method="{{ http_method }}">
        {% block form_content %}{% endblock %}

        <button class="btn btn-outline-{{ btn_style }}" type="submit">
            {{ btn_title }}
        </button>
        {% comment %} <button class="btn btn-outline-{{ btn_style }}" type="submit">
            {{ btn_title }}
        </button> {% endcomment %}
    </form>
{% endblock  %}
