{% extends 'shared/update_base.html' %}

<div>
{% block form_content %}
    <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Nombre(s)</label>
        <div class="col-sm-10">{{ form.nombre }}</div>
    </div>
    <div class="mb-3 row">
        <label for="apellidos" class="col-sm-2 col-form-label">Apellidos</label>
        <div class="col-sm-10">{{ form.apellidos }}</div>
    </div>
    <div class="mb-3 row">
        <label for="email" class="col-sm-2 col-form-label">Email (opcional)</label>
        <div class="col-sm-10">{{ form.email }}</div>
    </div>
{% endblock  %}
</div>
