{% extends 'shared/base.html' %}
{% block title %}
    Listado de Autores
{% endblock %}

{% block content %}
    <h1>Listado de Autores {{ hi }} </h1>

    <div class="bibl-table">
        <div class="bibl-table-header">
            {% if create_action %}
            <a href="{{create_action.redirect}}">
            <button type="button" class="btn btn-success">
                {{ create_action.label }}
            </button>
            </a>
            {% endif %}
            
            {% comment %} {% if table_config.form %}
            <form action="" method="get" class="d-flex">
                {{ table_config.form.q }}
                <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
            {% endif %} {% endcomment %}
        </div>
        <div class="bibl-table-body" style="margin-top: 25px;">
            <table>
            <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Email</th>
            </tr>
            </thead>
            <tbody>
            {% for data in object_list %}
                <tr>
                    <td> {{data.nombre}} </td>
                    <td> {{data.apellidos}} </td>
                    <td> {{data.email}} </td>
                    
                    {% if update_action %}
                        <td>
                            <a href="{{update_action.redirect}}/{{ data.id }}">
                            <button type="button" class="btn btn-secondary">Editar</button>
                        </td>
                    {% endif %}
                    {% if delete_action %}
                        <td>
                            <form action="{{delete_action.redirect}}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="dlt_id" value="{{ data.id }}">
                                <button type="submit" class="btn btn-danger">Borrar</button>
                            </form>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %} 
            </tbody>
        </table>
        </div>
    </div>
{% endblock  %}

